body {
    background-color: #E8EDED;
}

#motto {
    font-size: large;
    margin-top: 30px;
}

#main {
    background: #eee url('images/paper.png') repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: #fff 0 1px 0 1px inset,rgba(0,0,0,0.35) 0 0 5px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#wrapper {
    margin-top: 20px;
}

#header {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

#post {
    margin-top: 20px;
}

#posts {
    margin-top: 20px;
}

.post-title {
    margin-right: 10px;
    font-weight: bold;
}

.post-date {
    margin-right: 10px;
}

.post-tag {
    font-size: 100%;
}
